# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     staff_app
    database_user:     admin
    database_password: admin

    database_host_client:     127.0.0.1
    database_port_client:     ~
    database_name_client:     staff_app
    database_user_client:     admin
    database_password_client: admin

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       smtp.webfaction.com
    mailer_user:       noreply_staffdigital
    mailer_password:   142857

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
